header {
    background-color: #091f43;
    height: 200px;
    width: 100%;
    margin-bottom: 100px;
    border-bottom: 3px solid #fd2d01
}
.logo-login {
   width: 400px;
   margin-top:65px
}
.login-form {
    max-width: 100%;
    width: 540px;
    background: linear-gradient(62deg, #ffffff 0%, #eeecec 100%);
    border-radius: 16px;
    padding: 32px;
    margin: auto;
}
.card-title {
    text-align: center;
    font-weight: 800;
}
.card-subtitle {
    text-align: center;
    color: #666;
    font-weight: 500;
}
.button {
    background: #2196f3;
    color: white;
    border-radius: 8px;
    font-weight: 800;
    font-size: 15px;
    border: none;
    width: 100%;
    padding: 16px;
    transition: 0.4s background-color;
}
.card-action {
    color: #2196f3;
    text-decoration: underline;
}
.card-action:hover {
    cursor: pointer;
}
.button:hover {
    cursor: pointer;
    background: #1976d2;
}
.button--disabled {
    background: #cecece;
    color: #ececec;
}
.button--disabled:hover {
    cursor: not-allowed;
    background: #cecece;
}
.form-row {
    display: flex;
    margin: 16px 0px;
    gap: 16px;
    flex-wrap: wrap;
}
.form-row-input {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: #ffd7d7;
    font-weight: 500;
    font-size: 16px;
    flex: 1;
    min-width: 100px;
    color: black;
}
.form-row-input::placeholder {
    color: #aaaaaa;
}
.error-message {
    color: red;
}


