.forum-link {
    text-decoration: none;
    font-size: 25px;
}
.link {
    color: white;
}
.link:hover {
    color: #ff6242;
}
.icon-custom {
    font-size: 20px;
}
.navbar-custom {
    background-color: #091f43;
    border-bottom: 3px solid #fd2d01;
    padding: 20px;
}
.navbar-toggler-icon {
    color: white;
}
li {
    margin-left: 25px;
}
ul {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.logo {
    margin-left: 20px;
}

@media screen and (min-width: 400px) and (max-width: 660px) {
    .logo {
        width:250px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 400px) {
    .logo {
        width:200px;
        margin-left: 0px;
    }
}